# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#Other stuff
.dSYM
.DS_Store
*.swp

#HW0
hw0/main
hw0/map
hw0/wc

#HW1
hw1/shell

#HW2
hw2/httpserver
